<h1>Editing executive report</h1>

<%= render "form", executive_report: @executive_report %>

<br>

<div>
  <%= link_to "Show this executive report", @executive_report %> |
  <%= link_to "Back to executive reports", executive_reports_path %>
</div>
